.App {
  text-align: center;
  font-family: Roboto;
}

#map {
  height: 600px;
  width: 100%;
}

#floating-panel {

  background-color: #fff;
  padding: 5px;
  text-align:center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}


#countryinformation {
  display:flex;
  justify-content:space-around;
  align-items:center;
  background: rgb(12, 37, 48);
  border-radius: 15px;
  height: 15%;
}


#countryname {
  font-size:32px;
  font-family: 'Times New Roman', Times, serif;
}

#passportflex {
  display: inline-block;
  justify-content:space-around;
  align-items:center;
}

#allpassports {
  display:flex;
  flex-direction: column;
  border: 2px solid grey;
  background-color: #062233;
  margin: 20px;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}


.button4{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}
  a.button4:hover{
  border-color: rgba(255,255,255,1);
}
  @media all and (max-width:30em){
  a.button4{
  display:block;
  margin:0.2em auto;
}}